import React from 'react'
import { Spacing } from '@ds.e/foundation'
import './{{properCase name}}.scss'

export interface {{properCase name}}Props {
    hexCode?: string
    width?: keyof typeof Spacing,
    height?: keyof typeof Spacing
}

const {{properCase name}}: React.FC<{{properCase name}}Props> = ({ hexCode = 'pink', width = Spacing.sm, height = Spacing.sm }) => {
    const className = `dse-width-${width} dse-height-${height}`

    return <div className={className} style={
        {
            backgroundColor: hexCode,
        }
    }>
        {{properCase name}}
    </div>
}

export default {{properCase name}}
